name: etl

on:
  workflow_dispatch:
  schedule:
    - cron: "0 11 * * 1-5"

jobs:
  etl:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          virtualenvs-path: .venv
          installer-parallel: true

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        # Adicionado --no-root para evitar o erro de instalação do pacote "repo-template-python"
        run: poetry install --no-interaction --no-root

      - name: Update the project
        run: |
          poetry update

      - name: Run tests (Extract Data)
        # Injeta o seu token pessoal como variavel de ambiente GH_TOKEN para o dpm/data.toml ler
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          source .venv/bin/activate
          task extract

      - name: Workflow failure notification
        uses: JasonEtco/create-an-issue@v2
        if: failure()
        # Adicionado o GITHUB_TOKEN necessário para criar a issue de erro
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          filename: .github/etl_failure.md
